<h1 class="page-header">Users</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="row">
        <div class="col-xs-4">
          <h4>First name</h4>
          <hr>
        </div>
        <div class="col-xs-4">
          <h4>Last name</h4>
          <hr>
        </div>
        <div class="col-xs-4">
          <h4>Action</h4>
          <hr>
        </div>
      </div>
      <% @users.each do |user| %>
        <div class="row">
          <div class="col-xs-4">
            <p><%= user.first_name %></p>
          </div>
          <div class="col-xs-4">
            <p><%= user.last_name %></p>
          </div>
          <div class="col-xs-4">
            <span><%= link_to 'Show', user %></span> |
            <span><%= link_to 'Edit', edit_user_path(user) %></span>
            <% if signed_in? && current_user.admin? %>
              |
              <span><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></span>
              <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<br>

<% if signed_in? && current_user.admin? %>
  <%= link_to 'New User', new_user_path %>
<% end %>
