<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <%= form_with(model: product, local: true, id: "product-form") do |form| %>
        <% if product.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

            <ul>
            <% product.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

      <div class="row">
        <div class="col-10 offset-1">

          <div class="form-group">
            <%= form.label :name, class: "default-text kanit-3 blue" %>
            <%= form.text_field :name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :start, class: "default-text kanit-3 blue" %>
            <%= form.text_field :start, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :finish, class: "default-text kanit-3 blue" %>
            <%= form.text_field :finish, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :tagline, class: "default-text kanit-3 blue" %>
            <%= form.text_field :tagline, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :distance, class: "default-text kanit-3 blue" %>
            <%= form.text_field :distance, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :duration, class: "default-text kanit-3 blue" %>
            <%= form.text_field :duration, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :description, class: "default-text kanit-3 blue" %>
            <%= form.text_area :description, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :image_url, class: "default-text kanit-3 blue" %>
            <%= form.text_field :image_url, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :price, class: "default-text kanit-3 blue" %>
            <%= form.text_field :price, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :difficulty, class: "default-text kanit-3 blue" %>
            <%= form.text_field :difficulty, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :image1, class: "default-text kanit-3 blue" %>
            <%= form.text_field :image1, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :image2, class: "default-text kanit-3 blue" %>
            <%= form.text_field :image2, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :image3, class: "default-text kanit-3 blue" %>
            <%= form.text_field :image3, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :image4, class: "default-text kanit-3 blue" %>
            <%= form.text_field :image4, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :colour, class: "default-text kanit-3 blue" %>
            <%= form.text_field :colour, class: "form-control" %>
          </div>

        </div>
      </div>

      <div class="actions text-center">
        <%= form.submit class: "btn submit" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
