<% cache product do %>
  <div class="col-12 col-md-4 products-individual">

    <%= link_to product, class: "h-100 w-100" do %>
      <div class="product-thumbnail h-100 w-100 d-flex justify-content-center align-items-center" style="background-image: url(<%= image_path product.image_url%>)">
        <h2 class="product-name white kanit-3 no-margin">
          <%= product.name %>
        </h2>
      </div>

    <% end %>

    <div class="product-card">
      <h3 class="product-header kanit-5 mt2 mb2 black">
        <%= product.start %> to <%= product.finish %>
      </h3>
      <div class="product-information">
        <div class="tour-summary d-flex align-items-center justify-content-center">
          <h2 class="kanit-3 text-right no-margin"><%= product.distance %> km</h2>
          <span>|</span>
          <h2 class="kanit-3 text-left no-margin"><%= product.duration %> days</h2>
        </div>
        <div class="tour-tagline">
          <p class="default-text kanit-3 no-margin"><%= product.tagline %>
        </div>
        <div class="tour-price">
          <p class="default-text kanit-3 no-margin">£ <%= product.price %> </p>
        </div>
      </div>
    </div>


    <%= link_to 'View More', product, class: "view-more kanit-3 white", role: "button" %>

  </div>
<% end %>
