<% if signed_in? && current_user.admin? %>
  <%= link_to 'New Product', new_product_path, class: "btn btn-primary", id: "new-product-btn" %>
<% end %>

<div class="container-fluid hero-container products-hero">
  <h1 class="hero-brand do-hyeon white">Euro Bike Tours</h1>
  <h1 class="hero-header exo white text-center">Routes</h1>
  <div class="search-container">
    <%= form_with(url: products_path, method: 'get', local: true, class: 'navbar-form d-flex justify-content-between align-items-center') do |form| %>
      <%= form.text_field :q, id: 'q', placeholder: 'Search a destination...', value: params[:q] %>
      <%= form.submit 'Search', class: "kanit-3", id: 'search-btn' %>
    <% end %>
  </div>
</div>

<div class="container products-container" data-turbolinks="false">
  <div class="row">
    <% cache(cache_key_for_products) do %>
      <%= render @products %>
    <% end %>
  </div>
</div>

<br>
