<div class="container-fluid hero-container product-background-image" style="background-image: url(<%= image_path @product.image_url%>)">
  <h1 class="product-header hero-header kanit-7 white text-center">
    <%= @product.name %>
  </h1>
</div>

<div class="container">
  <div class="row mb3">
    <div class="col-12">
      <h2 class="product-route kanit-5">
        <%= @product.start %> to <%= @product.finish %>
      </h2>

      <div class="product-route-underline">
      </div>

      <div class="row sub-row mb3">
        <div class="col-12 col-md-7 mb2">
          <h3 class="sub-header kanit-5 mb1">Tour Details</h3>
          <p class="default-text kanit-3 justify">
            <%= @product.description %>
          </p>
        </div>

        <div class="col-12 col-md-4 offset-md-1 mb2 product-summary-col">
          <h3 class="sub-header kanit-5 mb1">Summary</h3>
          <div class="product-summary-container">
            <p class="default-text kanit-3 justify">
              Distance: <%= @product.distance %> km
            </p>
            <p class="default-text kanit-3 justify">
              Duration: <%= @product.duration %> days
            </p>
            <p class="default-text kanit-3 justify">
              Difficulty: <%= @product.difficulty %>
            </p>
            <p class="default-text kanit-3 justify">
              Price: £<%= @product.price/100 %>
            </p>
            <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>">
              <span class="default-text kanit-3 justify">Average Rating:</span>
            </div>

          </div>
        </div>
      </div> <!-- end sub-row -->

      <div class="row sub-row mb3">
        <div class="col-12 col-md-4 more-images-container mb2">
          <h3 class="mb1">More Images</h3>
          <div class="more-images-gallery">
            <div class="row no-margin">
              <div class="col-6 image-box">
                <%= image_tag(@product.image1, class: "img-fluid") %>
              </div>
              <div class="col-6 image-box">
                <%= image_tag(@product.image2, class: "img-fluid") %>
              </div>
            </div>
            <div class="row no-margin">
              <div class="col-6 image-box">
                <%= image_tag(@product.image3, class: "img-fluid") %>
              </div>
              <div class="col-6 image-box">
                <%= image_tag(@product.image4, class: "img-fluid") %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row sub-row">
        <div class="col-lg-5 offset-lg-1">
          <h3 class="mb3">Product Reviews</h3>
          <p class="justify">We greatly value the feedback we receive from satisfied customers, and we love hearing what people have to say about our products.
          </p>
          <p class="justify mb3">If you are a returning customer, why not leave a comment? Whether good or bad, hearing about your experience is important to us so that we can continue to improve our service.
          </p>
          <div class="rated mb1" id="highest-rating" data-score="<%= @product.highest_rating_comment&.rating %>">
            <span>Product Highest Rating</span>
          </div>
          <div class="rated" id="lowest-rating" data-score="<%= @product.lowest_rating_comment&.rating %>">
            <span>Product Lowest Rating</span>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-1">
          <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
          <%= render 'comments' %>
        </div>
      </div>


      <% if signed_in? %>
        <div class="row sub-row review-container">
          <%= render 'new_comment' %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<% if signed_in? && current_user.admin? %>
  <p><%= link_to 'Show', @product %> | <%= link_to 'Edit', edit_product_path(@product) %> | <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>
