<div class="container-fluid animated fadeIn">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <%= image_tag(@product.image_url, class: "img-responsive show-view-image", data_zoom_image: @product.image_url) %>
    </div>
  </div>
  <div class="row mb3" data-product-id="<%= @product.id %>">
    <div class="col-xs-10 col-xs-offset-1">
      <h2 class="sub-header product-header">
        <%= @product.name %>
        <span class="price">
          (<i class="fa fa-dollar-sign"></i><%= @product.price/100 %>)
        </span>
      </h2>

      <div class="product-header-underline">
      </div>

      <div class="row sub-row mb3">

        <div class="col-xs-12 col-md-5 col-md-push-4 mb2">
          <h3 class="mb1">Description</h3>
          <p class="justify">
            <%= @product.description %>
          </p>
        </div>

        <div class="col-xs-12 col-md-4 col-md-pull-5 more-images-container mb2">
          <h3 class="mb1">More Images</h3>
          <div class="more-images-gallery">
            <div class="row no-margin">
              <div class="col-xs-6 image-box">
                <%= image_tag(@product.image1, class: "img-responsive") %>
              </div>
              <div class="col-xs-6 image-box">
                <%= image_tag(@product.image2, class: "img-responsive") %>
              </div>
            </div>
            <div class="row no-margin">
              <div class="col-xs-6 image-box">
                <%= image_tag(@product.image3, class: "img-responsive") %>
              </div>
              <div class="col-xs-6 image-box">
                <%= image_tag(@product.image4, class: "img-responsive") %>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-md-3 mb2">
          <h3 class="mb1">Details</h3>
          <div class="product-details-container">
            <p>
              Colour: <%= @product.colour %>
            </p>
            <p>
              Price: $<%= @product.price/100 %>
            </p>
            <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>">
              <span>Average Rating:</span>
            </div>

            <% if signed_in? %>
              <p>
                <%= form_with(url: '/payments/create') do |form| %>
                  <%= render partial: "shared/stripe_checkout_button" %>
                  <%= hidden_field_tag(:product_id, @product.id) %>
                <% end %>
              </p>
            <% else %>
              <p class="mt2"><strong>
                Please
                <a href="/login">log in</a>
                to pay.
              </strong></p>
            <% end %>

          </div>
        </div>

      </div> <!-- end sub-row -->

      <div class="row sub-row">
        <div class="col-lg-5 col-lg-offset-1">
          <h3 class="mb3">Product Reviews</h3>
          <p class="justify">We greatly value the feedback we receive from satisfied customers, and we love hearing what people have to say about our products.
          </p>
          <p class="justify mb3">If you are a returning customer, why not leave a comment? Whether good or bad, hearing about your experience is important to us so that we can continue to improve our service.
          </p>
          <div class="rated mb1" id="highest-rating" data-score="<%= @product.highest_rating_comment&.rating %>">
            <span>Product Highest Rating</span>
          </div>
          <div class="rated" id="lowest-rating" data-score="<%= @product.lowest_rating_comment&.rating %>">
            <span>Product Lowest Rating</span>
          </div>
        </div>
        <div class="col-lg-4 col-lg-offset-1">
          <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
          <%= render 'comments' %>
        </div>
      </div>


      <% if signed_in? %>
        <div class="row sub-row review-container">
          <%= render 'new_comment' %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<% if signed_in? && current_user.admin? %>
  <p><%= link_to 'Show', @product %> | <%= link_to 'Edit', edit_product_path(@product) %> | <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>
